animation: currentToLeft 0.4s forwards;
@keyframes currentToLeft {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
animation: rightToCurrent 0.4s forwards;
@keyframes rightToCurrent {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
animation: leftToCurrent 0.4s forwards;
@keyframes leftToCurrent {
    0%   { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}
animation: currentToRight 0.4s forwards;
@keyframes currentToRight {
    0%   { transform: translateX(0); }
    100% { transform: translateX(100%); }
}
/*Building Block Fix*/
section[role="region"] > header:first-child h1 {
    position: absolute;
    width: 100%;
}
.hidden{
    display: none;
}
.circle{
    border-radius: 50%;
}
#index #drawer,
#guide,
#about{
    text-align: center;
    background: url("/img/background.jpg") center center;
    background-size: cover;
}
#index #drawer p{
    color: #ffffff;
}
#index #qrcode img{
    padding: 15px;
    border-radius: 15px;
    margin: auto;
    margin-top: 15px;
    background: #FFFFFF;
    box-shadow: #000000 0 0 10px;
}
#sceneoverlay{
    position: absolute;
    height: 100%;
    width: auto;
    z-index: 15;
    left: 50%;
    transform: translateX(-50%);
}
video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translateX(-50%) translateY(-50%);
}
@media screen and (max-aspect-ratio: 1/1){
    #sceneoverlay{
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 15;
	top:50%;
	left: 0;
	transform: translateY(-50%);
    }
    video{
	width: 100%;
	height: auto;
	transform: translateX(-50%) translateY(-50%);
    }
}
#scanerurl{
    position: absolute;
    font-family: Fira Sans;
    font-style: italic;
    font-size: 200%;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    bottom: 0px;
    left: 15px;
    right: 15px;
    border-radius: 15px 15px 0 0;
    z-index: 20;
}
[role="main"]{
    height: 100%;
    overflow-y: scroll;
}
[role="main"]:last-child{
    margin-bottom: 50px;
}
[role="main"] .container{
    padding: 30px 15px;
    background-color: rgba(0,0,0,0.3);
    color: #FFFFFF;
    max-width: 700px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
[role="main"] .container li{
    line-height: 4.5rem;
    text-align: left;
}
[role="main"] .container li .number{
    color: #FFFFFF;
    text-align: center;
    line-height: 50px;
    width: 50px;
    display: inline-block;
    margin: 15px 15px 0 0;
    border: solid 2px #FFFFFF;
}
[role="main"] .container li div{
    display: inline-block;
}