animation: currentToLeft 0.4s forwards;
@keyframes currentToLeft {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
animation: rightToCurrent 0.4s forwards;
@keyframes rightToCurrent {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
animation: leftToCurrent 0.4s forwards;
@keyframes leftToCurrent {
    0%   { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}
animation: currentToRight 0.4s forwards;
@keyframes currentToRight {
    0%   { transform: translateX(0); }
    100% { transform: translateX(100%); }
}
/*Building Block Fix*/
section[role="region"] > header:first-child h1 {
    position: absolute;
    width: 100%;
}
video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width:100%;
    min-height:100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}
.hidden{
    display: none;
}
#qrcode{
    margin: 15px;
}
#sceneoverlay{
    position: absolute;
    width: 100%;
    z-index: 15;
    top:50%;
    transform: translateY(-50%);
}